<style>
@media all and (max-width: 950px) {
  .mobile-menu-back-item a {
    background: #fff;
    color: #000;
    max-height: calc(1.4em + 40px);
    margin-top: calc(0px - (1.4em + 30px));
    pointer-events: none;
  }
  .menu-bar > li > [aria-haspopup="true"] ~ ul {
    margin-top: 58px;
  }
}
</style>

<div class="nav">
  <div class="container">
    <nav>
      <div class="logoSection">
        <a href="/" class="logoMain">
          <img alt="" src="/public/images/logo.png" />
        </a>
        <ul class="menu menu-bar">
          <li>
            <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Select Goal/ City</a>
            <ul class="mega-menu mega-menu--flat">
              <li>
                <div class="citySee">
                  <h3 class="m-0">Select Your Study Preference</h3>
                  <form action="" class="searchState w-100">
                    <i class="fa-regular fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search / Select Your Preferred City or state" value="" name="search">
                    <button type="submit" class="submitBtn">Search</button>
                  </form>
                  <div class="selectGoal">
                    <h4 class="m-0"><i class="fa-solid fa-city"></i> Popular Cities</h4>
                    <div class="row py-2">
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/NewDelhi.svg" />
                            </div>
                            <p>New Delhi</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Gurgaon.svg" />
                            </div>
                            <p>Gurgaon</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Noida.svg" />
                            </div>
                            <p>Noida</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Mumbai.svg" />
                            </div>
                            <p>Mumbai</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Chennai.svg" />
                            </div>
                            <p>Chennai</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Kolkata.svg" />
                            </div>
                            <p>Kolkata</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Lucknow.svg" />
                            </div>
                            <p>Lucknow</p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-3 my-2">
                        <a href="#!">
                          <div class="cityC">
                            <div class="cityIoc">
                              <img src="/public/images/Jaipur.svg" />
                            </div>
                            <p>Jaipur</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="courseSelect">
                  <form action="" class="searchState w-100">
                    <i class="fa-regular fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search and Select Your Course" value="" name="search">
                    <button type="submit" class="submitBtn">Search</button>
                  </form>
                  <div class="selectGoal">
                    <h4 class="m-0"><i class="fa-regular fa-user-helmet-safety"></i> Engineering</h4>
                    <div class="row">
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          BE/B.Tech
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          Diploma in Engineering
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          ME/M.Tech
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                    </div>
                    <h4 class="m-0"><i class="fa-light fa-list-check"></i> Management</h4>
                    <div class="row">
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          MBA/PGDM
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          BBA/BBM
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          Executive MBA
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                    </div>
                    <h4 class="m-0"><i class="fa-light fa-cart-shopping"></i> Commerce</h4>
                    <div class="row">
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          B.Com
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="" class="rigStudyCol">
                          M.Com
                          <i class="fa-light fa-angle-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="javascript:void(0);" class="mobile-menu-trigger">
        <i class="fa-light fa-bars"></i>
      </a>
      <ul class="menu menu-bar" id="myDIV">
        <div class="closeMenu">
          <strong>Menu</strong>
          <div class="mobile-menu-trigger">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <li class="homeIcon">
          <a href="/" class="menu-link menu-bar-link" aria-haspopup="true">
            <i class="fa-solid fa-house-chimney-window"></i>
          </a>
        </li>
        <li class="collegess">
          <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Colleges</a>
          <ul class="mega-menu mega-menu--multiLevel">
            <% college?.forEach(function(college){ %>
              <li>
                <a href="javascript:void(0);" class="menuList" aria-haspopup="true">
                  <%=college?.category%>
                </a>
                <ul class="menu menu-list pt-2">
                  <li>
                    <div class="row menuL">
                      <div class="col-md-4">
                        <h3 class="m-0">Colleges By Degrees</h3>
                        <% college?.courseDetail?.forEach(function(d){ %>
                          <a href="/collegeGetByCourseId/<%=d?.slag%>" class="menu-link menu-list-link">
                            <%=d.name%>
                          </a>
                          <% }) %>
                          <a href="/collegeGetByCourseId/<%=college?.courseDetail[0]?.slag%>" class="viewAll">View All</a>
                      </div>
                      <div class="col-md-4">
                        <h3 class="m-0">Popular Colleges</h3>
                        <% college?.popularCollege?.forEach(function(d){ %>
                          <a href="/collegeDetail/<%=d.slag%>/overView" class="menu-link menu-list-link">
                            <%=d.name%>
                          </a>
                          <% }) %>
                      </div>
                      <div class="col-md-4">
                        <h3 class="m-0">Top Colleges</h3>
                        <% college?.topCollege?.forEach(function(d){ %>
                          <a href="/collegeDetail/<%=d.slag%>/overView" class="menu-link menu-list-link">
                            <%=d.name%>
                          </a>
                          <% }) %>
                      </div>
                      <div class="col-md-4">
                        <h3 class="m-0">Colleges By Location</h3>
                        <% college?.stateDetail?.forEach(function(d){ %>
                          <a href="/getCollegeByState/<%=d?.name%>/<%=college?.slag%>" class="menu-link menu-list-link">
                            <%=d.name%>
                          </a>
                          <% }) %>
                            <a href="/getCollegeByState/<%=college?.stateDetail[0]?.name%>/<%=college?.slag%>"
                              class="viewAll">View All</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <% }) %>
                <li class="mobile-menu-back-item">
                  <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                </li>
          </ul>
        </li>

        <li class="collegess">
          <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Courses</a>
          <ul class="mega-menu mega-menu--multiLevel">
            <% college?.forEach(function(college){ %>
              <li>
                <a href="javascript:void(0);" class="menuList" aria-haspopup="true">
                  <%=college?.category%>
                </a>
                <ul class="menu menu-list pt-2">
                  <li>
                    <h3 class="m-0">Colleges By Courses</h3>
                    <div class="row menuL">
                      <% college?.courseDetail?.forEach(function(d){ %>
                        <div class="col-md-4">
                          <a href="/collegeGetByCourseId/<%=d?.slag%>" class="menu-link menu-list-link">
                            <%=d.name%>
                          </a>
                        </div>
                      <% }) %>
                    </div>
                    <a href="/getAllCourse" class="viewAll">View All Courses</a>
                  </li>
                </ul>
              </li>
              <% }) %>
                <li class="mobile-menu-back-item">
                  <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                </li>
          </ul>
        </li>

        <!-- <li>
          <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Courses</a>
          <ul class="mega-menu mega-menu--flat">
            <li>
              <h3 class="m-0">Popular Courses</h3>
              <ul class="menu menu-list pt-2">
                <li>
                  <div class="row menuL">
                    <% courses?.forEach(function(courses){ %>
                      <div class="col-md-3">
                        <a href="/courseDetail/<%=courses?.slag%>/section" class="menu-link menu-list-link">
                          <%=courses?.name%>
                        </a>
                      </div>
                      <% }) %>
                  </div>
                  <a href="/getAllCourse" class="viewAll">View All Courses</a>
                </li>
              </ul>
            </li>
            <li class="mobile-menu-back-item">
              <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
            </li>
          </ul>
        </li> -->

        <li class="collegess">
          <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Exams</a>
          <ul class="mega-menu mega-menu--multiLevel">
            <% exam?.forEach(function(exam){ %>
              <li>
                <a href="javascript:void(0);" class="menuList" aria-haspopup="true">
                  <%=exam.examCategory%>
                </a>
                <ul class="menu menu-list pt-2">
                  <li>
                    <div class="row menuL">
                      <% exam?.examDetail?.forEach(function(d){ %>
                        <div class="col-md-4">
                          <h3 class="m-0">
                            <%=d.heading%>
                          </h3>
                          <a href="/exam-detail/<%=d.slag%>/eligibility"
                            class="menu-link menu-list-link">Eligibility</a>
                          <a href="/exam-detail/<%=d.slag%>/syllabus" class="menu-link menu-list-link">Syllabus</a>
                          <a href="/exam-detail/<%=d.slag%>/examPattern" class="menu-link menu-list-link">Exam
                            Pattern</a>
                          <a href="/exam-detail/<%=d.slag%>/howToPrepare" class="menu-link menu-list-link">How to
                            Prepare</a>
                          <a href="/exam-detail/<%=d.slag%>/resilt" class="menu-link menu-list-link">Result</a>
                          <a href="#!" class="viewAll">View All</a>
                        </div>
                        <% }) %>
                    </div>
                  </li>
                </ul>
              </li>
              <% }) %>
                <li class="mobile-menu-back-item">
                  <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                </li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0);" class="menu-link menu-bar-link" aria-haspopup="true">Careers</a>
          <ul class="mega-menu mega-menu--flat">
            <li>
              <h3 class="m-0">Popular Careers</h3>
              <ul class="menu menu-list pt-2">
                <li>
                  <div class="row menuL">
                    <% careerDetail?.forEach(function(careerDetail){ %>
                      <div class="col-md-3">
                        <a href="/carrerDetail/<%=careerDetail?.slag%>" class="menu-link menu-list-link">
                          <%=careerDetail?.heading%>
                        </a>
                      </div>
                      <% }) %>
                  </div>
                  <a href="/career" class="viewAll">View All Careers</a>
                </li>
              </ul>
            </li>
            <li class="mobile-menu-back-item">
              <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/school" class="menu-link menu-bar-link menu2">Schools</a>
        </li>

        <ul class="menu menu-bar">
          <li>
            <a href="javascript:void(0);" class="menu-link menu-bar-link searchB" aria-haspopup="true">
              <i class="fa-regular fa-magnifying-glass"></i>
            </a>
            <ul class="mega-menu mega-menu--flat">
              <li>
                <h3 class="m-0">Search for best colleges, Courses, Exams and Education updates</h3>
                <form action="" class="searchState w-100">
                  <i class="fa-regular fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search Your Course" value="" name="search">
                  <button type="submit" class="submitBtn">Search</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>

        <% if(userToken) { %>
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/public/images/login-image.png" alt="" class="login-image-1" />
            </button>
            <ul class="dropdown-menu drop-list">
              <li>
                <a class="dropdown-item" href="/myProfile">My Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="/getWishlistByUserId">Wish List</a>
              </li>
              <li>
                <a class="dropdown-item" href="/passwordChange">Password Change</a>
              </li>
              <li>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </li>
            </ul>
          </div>
          <% } else { %>
            <li class="l1">
              <button type="button" class="registrationBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog loginModal">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                      <div class="row p-0">
                        <div class="col-md-6 bg-light p-3">
                          <img src="/public/images/login.png" />
                        </div>
                        <div class="col-md-6 py-5 px-5">
                          <div class="text-center">
                            <img src="/public/images/logo.png" class="w-50" />
                            <h2 class="m-0">Welcome Back!</h2>
                            <h4>Sign in to continue</h4>
                          </div>
                          <form class="form-modal">
                            <div class="ustify-content-between text-left">
                              <div class="form-group">
                                <label class="form-control-label">Mobile Number</label>
                                <input type="text" placeholder="Enter your number" id="loginPhoneNumber" />
                                <p class="allError" id="loginPhoneNumberError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="password" placeholder="Enter password" id="loginPassword" />
                                <p class="allError" id="loginPasswordError"></p>
                              </div>
                            </div>
                            <div class="text-center pt-3">
                              <div class="form-group text-center pb-2">
                                <button onclick="loginUser(this)" class="submitBtn">Login</button>
                              </div>
                              <p style="color: #1d1d1d; line-height: 1.3;font-size: 12px;">
                                New User?
                                <a href="#!" onclick="registerOpen()" style="color: #eca500">Register Now</a>
                              </p>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- register// -->
            <li class="l1">
              <!-- <button type="button" class="registrationBtn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Registration
              </button> -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                aria-hidden="true">
                <div class="modal-dialog loginModal">
                  <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                      <div class="row justify-content-center py-3">
                        <div class="col-md-12 px-5">
                          <div class="text-center">
                            <img src="/public/images/logo.png" class="w-50" />
                            <h2 class="m-0">Student Registration</h2>
                            <h4>Sign in to continue</h4>
                          </div>
                          <form class="form-modal">
                            <div class="justify-content-between text-left">
                              <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <input type="text" placeholder="Enter your name" id="name" name="name" required />
                                <p class="allError" id="nameError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Email *</label>
                                <input type="text" placeholder="Enter your mail id" id="email"
                                  oninput="checkEmailExistornot(this)" name="email" required />
                                <p class="allError" id="emailError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Mobile Number *</label>
                                <input type="text" placeholder="Enter your number" id="phone"
                                  oninput="checkPhoneExistornot(this)" name="phone" required />
                                <p class="allError" id="phoneError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Password *</label>
                                <input type="password" placeholder="Enter password" id="password" name="password"
                                  required />
                                <p class="allError" id="passwordError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Gender</label>
                                <select class="form-select" aria-label="Gender" id="gender" name="gender" required>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                  <option value="other">Other</option>
                                </select>
                                <p class="allError" id="genderError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Select Stream</label>
                                <select class="form-select" aria-label="Select Stream" id="" name="" required>
                                  <option value="">Commerce and Banking</option>
                                  <option value="">Design</option>
                                  <option value="">Engineering</option>
                                  <option value="">Management</option>
                                  <option value="">Hotel Management</option>
                                  <option value="">Information Technology</option>
                                  <option value="">Media and Mass Communication</option>
                                  <option value="">Medical</option>
                                  <option value="">Retail</option>
                                  <option value="">Arts and Humanities</option>
                                  <option value="">Law</option>
                                  <option value="">Science</option>
                                  <option value="">Vocational</option>
                                  <option value="">Others</option>
                                  <option value="">Physical Education</option>
                                  <option value="">Education</option>
                                  <option value="">Paramedical</option>
                                  <option value="">Agriculture</option>
                                  <option value="">Nursing</option>
                                  <option value="">Pharmacy</option>
                                  <option value="">Dental</option>
                                  <option value="">Performing Arts</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">Select Level</label>
                                <select class="form-select" aria-label="Select Level" id="" name="" required>
                                  <option value="">UG</option>
                                  <option value="">PG</option>
                                  <option value="">Diploma</option>
                                  <option value="">Ph.D</option>
                                  <option value="">Certificate</option>
                                </select>
                                <p class="allError" id="genderError"></p>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label">DOB</label>
                                <input type="text" placeholder="DD/MM/YYYY" id="dob" name="dob" required />
                                <p class="allError" id="dobError"></p>
                              </div>
                            </div>
                            <div class="text-center">
                              <div class="form-group text-center pb-2  pt-3">
                                <button type="submit" onclick="userValidation(this)" class="submitBtn">Sign
                                  Up</button>
                              </div>
                              <p style="color: #1d1d1d; line-height: 1.3;font-size: 12px;">
                                I'am User?
                                <a href="#!" onclick="loginOpen(this)" style="color: #eca500">Login Now</a>
                              </p>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="li">
              <!-- <button type="button" class="banner-modal2" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                Modal
              </button> -->
              <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-left pt-5">
                  <div class="modal-content modal-success p-5">
                    <div class="modal-header modal-succ-head">
                      <div class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-light fa-circle-check modal-icon"></i>
                        <p class="success-icon">success</p>
                      </div>
                    </div>
                    <div class="modal-body">
                      <h3>
                        Congratulations, your account has been successfully
                        Created.
                      </h3>
                    </div>
                    <div class="modal-footer modal-butoon">
                      <button type="button" class="btn" data-bs-dismiss="modal">
                        <p class="modal-butoon-succ" onclick="openLoginCloseSmile()">
                          continue
                        </p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <% } %>
      </ul>
    </nav>
  </div>
</div>

<script>
  function registerOpen() {
    $("#exampleModal").modal("hide");
    $("#exampleModal2").modal("show");
  }

  function loginOpen() {
    $("#exampleModal2").modal("hide");
    $("#exampleModal").modal("show");
  }
</script>

<!-- user Register// -->
<script>
  // proper validation for phone and email and dob

  function userValidation(e) {
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var phone = document.getElementById("phone").value;
    var dob = document.getElementById("dob").value;
    var name = document.getElementById("name").value;
    var password = document.getElementById("password").value;
    var gender = document.getElementById("gender").value;

    var emailErrorData = document.getElementById("emailError");
    var phoneErrorData = document.getElementById("phoneError");
    var dobErrorData = document.getElementById("dobError");
    var nameErrorData = document.getElementById("nameError");
    var passwordErrorData = document.getElementById("passwordError");
    var genderErrorData = document.getElementById("genderError");

    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var phoneReg = /^\d{10}$/;
    var dobReg = /^\d{2}[/-]\d{2}[/-]\d{4}$/;
    // in dob future date not allowed

    if (name == "") {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      nameErrorData.innerHTML = "Please enter name";

      return false;
    }

    if (email == "") {
      emailErrorData.innerHTML = "Please enter email";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";

      return false;
    }

    if (phone == "") {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "Please enter phone";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";

      return false;
    }

    if (!emailReg.test(email)) {
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      emailErrorData.innerHTML = "Please enter valid email";
      return false;
    }
    if (!phoneReg.test(phone)) {
      emailErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      gender;
      phoneErrorData.innerHTML = "Please enter valid phone";

      return false;
    }
    if (!dobReg.test(dob)) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    // in dob present and future date not allowed

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, "0");
    var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + "/" + dd + "/" + yyyy;
    console.log(today);

    // convert dob to mm/dd/yyyy format

    var dob = dob.split("/");
    var dob = dob[1] + "/" + dob[0] + "/" + dob[2];
    console.log(dob);

    if (dob > today) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    // if dob year is greater than  present year show error//

    if (dob.split("/")[2] > today.split("/")[2]) {
      console.log("year is greater");
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    if (dob == today) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    if (password == "") {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "Please enter password";

      return false;
    }

    if (gender == "") {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "Please Select Gender";
    }

    if (
      emailErrorData.innerHTML == "" ||
      phoneErrorData.innerHTML == "" ||
      dobErrorData.innerHTML == "" ||
      nameErrorData.innerHTML == "" ||
      passwordErrorData.innerHTML == ""
    ) {
      $.ajax({
        url: "/userRegister",
        type: "POST",
        data: {
          name: name,
          email: email,
          phone: phone,
          dob: dob,
          password: password,
          gender: gender,
        },
        success: function (data) {
          console.log(data);
          if (data == "User Register Successfully") {
            emailErrorData.innerHTML = "";
            phoneErrorData.innerHTML = "";
            dobErrorData.innerHTML = "";
            nameErrorData.innerHTML = "";
            passwordErrorData.innerHTML = "";

            $("#exampleModal2").modal("hide");
            $("#exampleModal3").modal("show");


            return false;
          }

          if (data == "Email Already Exist") {
            emailErrorData.innerHTML = "Email already exist";
            phoneErrorData.innerHTML = "";
            dobErrorData.innerHTML = "";
            nameErrorData.innerHTML = "";
            passwordErrorData.innerHTML = "";

            return false;
          }
          if (data == "Phone Already Exist") {
            emailErrorData.innerHTML = "";
            phoneErrorData.innerHTML = "Phone already exist";
            dobErrorData.innerHTML = "";
            nameErrorData.innerHTML = "";
            passwordErrorData.innerHTML = "";

            return false;
          }
        },
      });

      return false;
    }
  }
</script>

<script>
  function checkEmailExistornot() {
    var email = document.getElementById("email").value;
    var emailErrorData = document.getElementById("emailError");
    var phoneErrorData = document.getElementById("phoneError");

    console.log(email);

    $.ajax({
      url: "/checkUserEmailExitOrNot",
      type: "GET",
      data: {
        email: email,
      },
      success: function (data) {
        console.log(data);
        if (data == "Email Already Exist") {
          phoneErrorData.innerHTML = "";
          emailErrorData.innerHTML = "Email already exist";
          return false;
        }

        if (data == "Email Not Exist") {
          emailErrorData.innerHTML = "";
        }
      },
    });

    return false;
  }
</script>

<script>
  function checkPhoneExistornot() {
    var phone = document.getElementById("phone").value;
    var emailErrorData = document.getElementById("emailError");
    var phoneErrorData = document.getElementById("phoneError");

    console.log(phone);

    $.ajax({
      url: "/checkUserPhoneExitOrNot",
      type: "GET",
      data: {
        phone: phone,
      },
      success: function (data) {
        console.log(data);
        if (data == "Phone Already Exist") {
          phoneErrorData.innerHTML = "Phone already exist";
          return false;
        }

        if (data == "Phone Not Exist") {
          phoneErrorData.innerHTML = "";
        }
      },
    });

    return false;
  }
</script>

<!-- user login/// -->

<script>
  function loginUser() {
    var loginPhoneNumber = document.getElementById("loginPhoneNumber").value;
    var loginPassword = document.getElementById("loginPassword").value;
    var loginPhoneNumberError = document.getElementById(
      "loginPhoneNumberError"
    );
    var loginPasswordError = document.getElementById("loginPasswordError");

    var phoneReg = /^\d{10}$/;

    if (loginPhoneNumber == "") {
      loginPhoneNumberError.innerHTML = "Please enter phone number";
      loginPasswordError.innerHTML = "";
      return false;
    }

    if (loginPassword == "") {
      loginPhoneNumberError.innerHTML = "";
      loginPasswordError.innerHTML = "Please enter password";
      return false;
    }

    if (!phoneReg.test(loginPhoneNumber)) {
      loginPhoneNumberError.innerHTML = "Please enter valid phone number";
      loginPasswordError.innerHTML = "";
      return false;
    }

    if (
      loginPhoneNumberError.innerHTML == "" ||
      loginPasswordError.innerHTML == ""
    ) {
      $.ajax({
        url: "/userLogin",
        type: "POST",
        data: {
          phone: loginPhoneNumber,
          password: loginPassword,
        },
        success: function (data) {
          console.log(data);
          if (data == "User Login Successfully") {
            loginPhoneNumberError.innerHTML = "";
            loginPasswordError.innerHTML = "";
            alert("User Login Successfully");
            window.location.href = "/";
            return false;
          }

          if (data == "Invalid login details") {
            loginPhoneNumberError.innerHTML = "Invalid login details";
            loginPasswordError.innerHTML = "";
            return false;
          }
          if (data == "Password is not match") {
            loginPhoneNumberError.innerHTML = "";
            loginPasswordError.innerHTML = "Password not match";
            return false;
          }
          if (data == "success") {
            console.log("success");
            loginPhoneNumberError.innerHTML = "";
            loginPasswordError.innerHTML = "";
            $("#exampleModal").modal("hide");
            location.reload();

            return false;
          }
        },
      });

      return false;
    }
  }
</script>

<!-- close smle modal and open login modal-->

<script>
  function openLoginCloseSmile() {
    $("#exampleModal3").modal("hide");
    $("#exampleModal").modal("show");
  }
</script>