<header>
  <div id="header20">
    <div class="full offBg">
      <div class="row">
        <div class="col-md-3 headerLogo">
          <div class="hamburger" id="hamburger-1">
            <span class="line"> </span>
            <span class="line"> </span>
            <span class="line"> </span>
          </div>
          <a href="/">
            <img alt="" src="/public//images/logo.png" />
          </a>
        </div>
        
        <div class="col-md-9">
          <div class="full menu20">
            <div class="row" style="position: relative">
              <ul>
                <li class="l1">
                  <a class="menuTitle a6dU7eb" href="#">Colleges</a>
                  <div id="hosting_menu20Content" class="menu20Content">
                    <div class="row flex-container noMargin noPadding oHide">
                      <div class="menu_item_one westSide col-s-12 col-m-12">
                        <div class="flex-wrapper side-hover">
                          <ul class="full row l2">
                            <% college?.forEach(function(college){ %>
                            <li class="row">
                              <div class="col-md-3 title noMargin a5etf">
                                <a href="#"><%=college?.category%></a>
                              </div>
                              <div
                                class="col-md-9 flex-wrapper content noMargin right-inner-hover"
                              >
                                <div class="row">
                                  <div class="col-md-4 my-3">
                                    <div class="a5efd s-hide m-show l-show">
                                      <div class="contentTitle">
                                        Colleges By Degrees
                                      </div>
                                    </div>
                                    <ul class="l3">
                                      <ul>
                                        <li class="col-s-12 a5elt">
                                          <%
                                          college?.courseDetail?.forEach(function(d){
                                          %>
                                          <a
                                            href="/collegeGetByCourseId/<%=d?.slag%>"
                                            class="full block"
                                            ><%=d.name%></a
                                          >

                                          <% }) %>
                                          <a
                                            href="/collegeGetByCourseId/<%=college?.courseDetail[0]?.slag%>"
                                            class="viewAll"
                                            >View All</a
                                          >
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>
                                  <div class="col-md-4 my-3">
                                    <div class="a5efd s-hide m-show l-show">
                                      <div class="contentTitle">
                                        Popular College
                                      </div>
                                    </div>
                                    <ul class="l3">
                                      <ul>
                                        <li class="col-s-12 a5elt">
                                          <%
                                          college?.popularCollege?.forEach(function(d){
                                          %>

                                          <a
                                            href="/collegeDetail/<%=d.slag%>/overView"
                                            class="full block"
                                            ><%=d.name%></a
                                          >

                                          <% }) %>

                                          <!-- <a href="colleges.html" class="full block">M.Tech</a>
                                                                <a href="colleges.html" class="full block">B.Arch</a>
                                                                <a href="colleges.html" class="full block">B.Tech +
                                                                   M.Tech</a>
                                                                <a href="colleges.html" class="full block">Diploma</a> -->
                                          <!-- <a href="colleges.html" class="viewAll">View
                                                                   All</a> -->
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>
                                  <div class="col-md-4 my-3">
                                    <div class="a5efd s-hide m-show l-show">
                                      <div class="contentTitle">
                                        Top College
                                      </div>
                                    </div>
                                    <ul class="l3">
                                      <ul>
                                        <li class="col-s-12 a5elt">
                                          <%
                                          college?.topCollege?.forEach(function(d){
                                          %>
                                          <a
                                            href="/collegeDetail/<%=d.slag%>/overView"
                                            class="full block"
                                            ><%=d.name%></a
                                          >
                                          <% }) %>
                                          <!-- <a href="colleges.html" class="full block">M.Tech</a>
                                                                <a href="colleges.html" class="full block">B.Arch</a>
                                                                <a href="colleges.html" class="full block">B.Tech +
                                                                   M.Tech</a>
                                                                <a href="colleges.html" class="full block">Diploma</a> -->
                                          <!-- <a href="colleges.html" class="viewAll">View
                                                                   All</a> -->
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>
                                  <div class="col-md-4 my-3">
                                    <div class="a5efd s-hide m-show l-show">
                                      <div class="contentTitle">
                                        Colleges By Location
                                      </div>
                                    </div>
                                    <ul class="l3">
                                      <ul>
                                        <li class="col-s-12 a5elt">
                                          <%
                                          college?.stateDetail?.forEach(function(d){
                                          %>
                                          <a
                                            href="/getCollegeByState/<%=d?.name%>/<%=college?.slag%>"
                                            class="full block"
                                            ><%=d.name%></a
                                          >

                                          <% }) %>

                                          <a
                                            href="/getCollegeByState/<%=college?.stateDetail[0]?.name%>/<%=college?.slag%>"
                                            class="viewAll"
                                            >View All</a
                                          >
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <% }) %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="l1">
                  <a class="menuTitle a6dU7eb" href="#">Courses</a>
                  <div id="cloud_menu20Content" class="menu20Content">
                    <div
                      class="row flex-container noMargin noPadding oHide pt-3 px-2"
                    >
                      <div class="westSide col-md-3">
                        <div class="a5efd">
                          <div class="contentTitle">Popular Courses</div>
                        </div>
                        <ul class="full row l2">
                          <div class="col-md-12 oHide">
                            <% courses?.forEach(function(courses){ %>
                            <a
                              href="/courseDetail/<%=courses?.slag%>/section"
                              class="a5etf"
                              ><%=courses?.name%></a
                            >

                            <% }) %>
                            <!-- <a href="#!" class="a5etf">M.Tech</a> -->
                          </div>
                        </ul>
                      </div>
                      <!-- <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div> -->
                    </div>
                    <a href="/getAllCourse" class="viewAll mx-3 pb-3"
                      >View All Courses</a
                    >
                  </div>
                </li>
                <li class="l1">
                  <a class="menuTitle a6dU7eb" href="#">Exams</a>
                  <div id="hosting_menu20Content" class="menu20Content">
                    <div class="row flex-container noMargin noPadding oHide">
                      <div class="menu_item_one westSide col-s-12 col-m-12">
                        <div class="flex-wrapper side-hover">
                          <ul class="full row l2">
                            <% exam?.forEach(function(exam){ %>

                            <li class="row">
                              <div class="col-md-3 title noMargin a5etf">
                                <a href="#"><%=exam.examCategory%></a>
                              </div>
                              <div
                                class="col-md-9 flex-wrapper content noMargin right-inner-hover"
                              >
                                <div class="row">
                                  <% exam?.examDetail?.forEach(function(d){ %>

                                  <div class="col-md-4 my-3">
                                    <div class="a5efd s-hide m-show l-show">
                                      <div class="contentTitle">
                                        <%=d.heading%>
                                      </div>
                                    </div>
                                    <ul class="l3">
                                      <ul>
                                        <li class="col-s-12 a5elt">
                                          <a
                                            href="/exam-detail/<%=d.slag%>/eligibility"
                                            class="full block"
                                            >Eligibility</a
                                          >
                                          <a
                                            href="/exam-detail/<%=d.slag%>/syllabus"
                                            class="full block"
                                            >Syllabus</a
                                          >
                                          <a
                                            href="/exam-detail/<%=d.slag%>/examPattern"
                                            class="full block"
                                            >Exam Pattern</a
                                          >
                                          <a
                                            href="/exam-detail/<%=d.slag%>/howToPrepare"
                                            class="full block"
                                            >How To Prepare</a
                                          >
                                          <a
                                            href="/exam-detail/<%=d.slag%>/resilt"
                                            class="full block"
                                            >Result</a
                                          >
                                          <a
                                            href="/exam/<%=exam?.slag%>"
                                            class="viewAll"
                                            >View All</a
                                          >
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>

                                  <% }) %>
                                </div>
                              </div>
                            </li>

                            <% }) %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>




                <li class="l1">
                  <a class="menuTitle a6dU7eb" href="#">Career</a>
                  <div id="cloud_menu20Content" class="menu20Content">
                    <div
                      class="row flex-container noMargin noPadding oHide pt-3 px-2"
                    >
                      <div class="westSide col-md-3">
                        <div class="a5efd">
                          <div class="contentTitle">Popular Career</div>
                        </div>
                        <ul class="full row l2">
                          <div class="col-md-12 oHide">
                            <% careerDetail?.forEach(function(careerDetail){ %>
                            <a
                              href="/carrerDetail/<%=careerDetail?.slag%>"
                              class="a5etf"
                              ><%=careerDetail?.heading%></a
                            >

                            <% }) %>
                            <!-- <a href="#!" class="a5etf">M.Tech</a> -->
                          </div>
                        </ul>
                      </div>
                      <!-- <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div>
                                  <div class="westSide col-md-3">
                                     <div class="a5efd">
                                        <div class="contentTitle">Popular Courses</div>
                                     </div>
                                     <ul class="full row l2">
                                        <div class="col-md-12 oHide">
                                           <a href="#!" class="a5etf">B.Tech</a>
                                           <a href="#!" class="a5etf">M.Tech</a>
                                        </div>
                                     </ul>
                                  </div> -->
                    </div>
                    <!-- <a href="/getAllCourse" class="viewAll mx-3 pb-3"
                      >View All Carrer</a
                    > -->
                  </div>
                </li>


                <!-- <li class="l1">
                            <div class="wishdropdown">
                               <i onclick="myFunction()" class="fa-regular fa-circle-user wishdropbtn"></i>
                               <div id="mywishDropdown" class="wishdropdown-content">
                                  <a href="#!">My Wishlist</a>
                                  <a href="#!">Log Out</a>
                               </div>
                            </div>
                         </li> -->
         

          
                <% if(userToken) { %>
                
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <img
                      src="/public/images/login-image.png"
                      alt=""
                      class="login-image-1"
                    />
                  </button>
                  <ul class="dropdown-menu drop-list">
                    <li>
                      <a class="dropdown-item" href="/myProfile">My Account</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/getWishlistByUserId">Wish List</a>
                     </li>
                      <li>
                      <a class="dropdown-item" href="/passwordChange">Password Change</a>
                      </li>
                    <li>
                      <a class="dropdown-item" href="/logout">Log Out</a>
                    </li>
                  </ul>
                </div>
                <% } else { %>

                  <!-- login  -->
                  <li class="l1">
                    <button
                      type="button"
                      class="registrationBtn"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Login
                    </button>
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog loginModal">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-6">
                                <img
                                  src="/public/images/login.png"
                                  class="w-100"
                                />
                              </div>
                              <div class="col-md-6">
                                <div class="text-center">
                                  <img
                                    src="/public/images/logo.png"
                                    class="w-50"
                                  />
                                  <h2 class="m-0 pt-3">Welcome Back!</h2>
                                  <h4>Sign in to continue</h4>
                                </div>
                                <form class="form-modal">
                                  <div
                                    class="row justify-content-between text-left"
                                  >
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Mobile Number</label
                                      >
                                      <input
                                        type="text"
                                        placeholder="Enter your number"
                                        id="loginPhoneNumber"
                                      />
                                      <p class="allError" id="loginPhoneNumberError"></p>
                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Password</label
                                      >
                                      <input
                                        type="password"
                                        placeholder="Enter password"
                                        id="loginPassword"
                                      />
                                      <p class="allError" id="loginPasswordError"></p>
  
                                    </div>
                                  </div>
                                  <div class="text-center pt-3">
                                    <div class="form-group text-center pb-2">
                                      <a  onclick="loginUser(this)" class="submitBtn"
                                        >Login</a
                                      >
                                    </div>
                                    <p style="color: #1d1d1d; line-height: 1.3">
                                      New User?
                                      <a
                                        href="#!"
                                        onclick="registerOpen()"
                                        style="color: #eca500"
                                        >Register Now</a
                                      >
                                    </p>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>



                  <!-- register// -->
                  <li class="l1">
                    <button
                      type="button"
                      class="registrationBtn"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal2"
                    >
                      Registration
                    </button>
                    <div
                      class="modal fade"
                      id="exampleModal2"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel2"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog loginModal">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">
                              Register Now
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div
                                  class="jsx-2114236980 media my-2 leadform-header"
                                >
                                  <div
                                    class="jsx-2114236980 rounded-circle p-3 lead-hdr-img"
                                  >
                                    <img
                                      data-src="https://images.collegedunia.com/public/asset/img/cd-static-nr/leadform_logo.png?h=50&amp;w=50&amp;mode=stretch"
                                      src="https://images.collegedunia.com/public/asset/img/cd-static-nr/leadform_logo.png?h=50&amp;w=50&amp;mode=stretch"
                                      alt=" logo"
                                      height="50px"
                                      class="jsx-2355921263 lazyloaded"
                                    />
                                  </div>
                                  <div class="mx-2">
                                    <h3>Register Now To Apply</h3>
                                    <p class="font-weight-normal">
                                      Get details and latest updates
                                    </p>
                                  </div>
                                </div>
                                <div class="mt-5 text-center">
                                  <img
                                    src="/public/images/login.png"
                                    class="w-50"
                                  />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <form class="form-modal">
                                  <div class="row justify-content-between text-left">
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Name</label
                                      >
                                      <input
                                        type="text"
                                        placeholder="Enter your name"
                                        id="name"
                                        name="name"
                                        required
                                      />
                                      <p class="allError" id="nameError"></p>
  
                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Email</label
                                      >
                                      <input
                                        type="text"
                                        placeholder="Enter your mail id"
                                        id="email"
                                        oninput="checkEmailExistornot(this)"
  
                                        name="email"
                                        required
                                      />
                                      <p class="allError" id="emailError"></p>
                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Mobile Number</label
                                      >
                                      <input
                                        type="text"
                                        placeholder="Enter your number"
                                        id="phone"
                                        oninput="checkPhoneExistornot(this)"
                                        name="phone"
                                        required
                                      />
                                      <p class="allError" id="phoneError"></p>
                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                      >Gender</label
                                    >
                                      <select
                                        class="form-select p-2"
                                        aria-label="Gender"
                                        id="gender"
                                        name="gender"
                                        required
                                      >
                                        <!-- <option selected="">
                                          Select your gender
                                        </option> -->
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="other">Other</option>
                                      </select>
                                      <p class="allError" id="genderError"></p>

                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >DOB</label
                                      >
                                      <input
                                        type="text"
                                        placeholder="DD/MM/YYYY"
                                        id="dob"
                                        name="dob"
                                        required
                                      />
                                      <p class="allError" id="dobError"></p>
                                    </div>
                                    <div class="form-group">
                                      <label class="form-control-label"
                                        >Password</label
                                      >
                                      <input
                                        type="password"
                                        placeholder="Enter password"
                                        id="password"
                                        name="password"
                                        required
                                      />
                                      <p class="allError" id="passwordError"></p>
  
                                    </div>
                                  </div>
                                  <div class="text-center">
                                    <div class="form-group text-center pb-2">
                                      <!-- <button class="submitBtn"        onclick="userValidation(this)">
                                        Sign Up
                                      </button> -->
  
                                      <a  type="submit"  onclick="userValidation(this)"  class="submitBtn">Sign Up</a>
                                    </div>
                                    <p style="color: #1d1d1d; line-height: 1.3">
                                      I'am User?
                                      <a
                                        href="#!"
                                        onclick="loginOpen(this)"
                                        style="color: #eca500"
                                        >Login Now</a
                                      >
                                    </p>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="li">
                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="banner-modal2" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        Modal
                    </button> -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-left">
                            <div class="modal-content modal-success">
                                <div class="modal-header modal-succ-head">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        <i class="fa-light fa-circle-check modal-icon"></i>
                                            <p class="success-icon">
                                                success
                                            </p>
                                    </h1>
                                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                    </button> -->
                                </div>
                                <div class="modal-body">
                                    <h3>
                                        Congratulations, your account has been successfully Created
                                    </h3>
                                </div>
                                <div class="modal-footer modal-butoon">
                                        <button type="button" class="btn " data-bs-dismiss="modal">
                                            <p class=" modal-butoon-succ" onclick="openLoginCloseSmile()">
                                                continue
                                            </p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
    </li>

                  <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<script>
  function registerOpen() {
    $("#exampleModal").modal("hide");
    $("#exampleModal2").modal("show");
  }

  function loginOpen() {
    $("#exampleModal2").modal("hide");
    $("#exampleModal").modal("show");
  }
</script>


<!-- user Register// -->
<script>
  // proper validation for phone and email and dob

  function userValidation(e) {

    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var phone = document.getElementById("phone").value;
    var dob = document.getElementById("dob").value;
   var name = document.getElementById("name").value;
    var password = document.getElementById("password").value;
    var gender = document.getElementById("gender").value;

    var emailErrorData = document.getElementById("emailError");
    var phoneErrorData = document.getElementById("phoneError");
    var dobErrorData = document.getElementById("dobError");
    var nameErrorData = document.getElementById("nameError");
    var passwordErrorData = document.getElementById("passwordError");
    var genderErrorData = document.getElementById("genderError");

    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var phoneReg = /^\d{10}$/;
    var dobReg = /^\d{2}[/-]\d{2}[/-]\d{4}$/;
    // in dob future date not allowed


    if(name == ""){
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      nameErrorData.innerHTML = "Please enter name";

      return false;
    }

    if(email == ""){
      emailErrorData.innerHTML = "Please enter email";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";

      return false;
    }

    if(phone == ""){
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "Please enter phone";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";

      return false;
    }


    if (!emailReg.test(email)) {
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      emailErrorData.innerHTML = "Please enter valid email";
      return false;
    }
    if (!phoneReg.test(phone)) {
      emailErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      gender
      phoneErrorData.innerHTML = "Please enter valid phone";

      return false;
    }
    if (!dobReg.test(dob)) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    // in dob present and future date not allowed

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, "0");
    var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + "/" + dd + "/" + yyyy;
    console.log(today);

    // convert dob to mm/dd/yyyy format

    var dob = dob.split("/");
    var dob = dob[1] + "/" + dob[0] + "/" + dob[2];
    console.log(dob);

    if (dob > today) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    // if dob year is greater than  present year show error//

    if(dob.split("/")[2] > today.split("/")[2]){
      console.log("year is greater");
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }

    if (dob == today) {
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      dobErrorData.innerHTML = "Please enter valid dob";
      return false;
    }


    if(password == ""){
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      genderErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "Please enter password";

      return false;
    }

    if(gender ==""){
      emailErrorData.innerHTML = "";
      phoneErrorData.innerHTML = "";
      dobErrorData.innerHTML = "";
      nameErrorData.innerHTML = "";
      passwordErrorData.innerHTML = "";
      genderErrorData.innerHTML ="Please Select Gender"

    }


    
    if(emailErrorData.innerHTML == "" || phoneErrorData.innerHTML == "" || dobErrorData.innerHTML == "" || nameErrorData.innerHTML == "" || passwordErrorData.innerHTML == ""){

      $.ajax({
         url: "/userRegister",
         type: "POST",
         data: {
            name: name,
            email: email,
            phone: phone,
            dob: dob,
            password: password,
            gender:gender
         
         },
         success: function (data) {
            console.log(data);
            if (data == "User Register Successfully") {
               emailErrorData.innerHTML = "";
               phoneErrorData.innerHTML = "";
               dobErrorData.innerHTML = "";
               nameErrorData.innerHTML = "";
               passwordErrorData.innerHTML = "";

               $("#exampleModal2").modal("hide");
                $("#exampleModal3").modal("show");
           
               return false;
            }
 
            if(data == "Email Already Exist"){
               emailErrorData.innerHTML = "Email already exist";
                phoneErrorData.innerHTML = "";
                dobErrorData.innerHTML = "";
                nameErrorData.innerHTML = "";
                passwordErrorData.innerHTML = "";

          
               return false;
            }
            if(data == "Phone Already Exist"){
               emailErrorData.innerHTML = "";
                phoneErrorData.innerHTML = "Phone already exist";
                dobErrorData.innerHTML = "";
                nameErrorData.innerHTML = "";
                passwordErrorData.innerHTML = "";

          
               return false;
            }

            
         },
         });

        
   
         return false;
 
     


     
    }
  
 

   




  }



  
      
  
</script>

<script>

   function checkEmailExistornot(){
      var email = document.getElementById("email").value;
      var emailErrorData = document.getElementById("emailError");
      var phoneErrorData = document.getElementById("phoneError");

   
      console.log(email);  
  
         $.ajax({
         url: "/checkUserEmailExitOrNot",
         type: "GET",
         data: {
            email: email,
         
         },
         success: function (data) {
            console.log(data);
            if (data == "Email Already Exist") {
               phoneErrorData.innerHTML = "";
               emailErrorData.innerHTML = "Email already exist";
               return false;
            }
 
            if(data == "Email Not Exist"){
               emailErrorData.innerHTML = "";
             
            }
         },
         });
   
         return false;
      }
   
</script>

<script>

function checkPhoneExistornot(){
      var phone = document.getElementById("phone").value;
      var emailErrorData = document.getElementById("emailError");
      var phoneErrorData = document.getElementById("phoneError");

   
      console.log(phone);  
  
         $.ajax({
         url: "/checkUserPhoneExitOrNot",
         type: "GET",
         data: {
            phone: phone,
         
         },
         success: function (data) {
            console.log(data);
            if (data == "Phone Already Exist") {
             
               phoneErrorData.innerHTML = "Phone already exist";
               return false;
            }
 
            if(data == "Phone Not Exist"){
         
               phoneErrorData.innerHTML = "";
            }
         },
         });
   
         return false;
      }
   



</script>


<!-- user login/// -->



<script>

function loginUser(){
    var loginPhoneNumber = document.getElementById("loginPhoneNumber").value;
    var loginPassword = document.getElementById("loginPassword").value;
    var loginPhoneNumberError = document.getElementById("loginPhoneNumberError");
    var loginPasswordError = document.getElementById("loginPasswordError");
  
    var phoneReg = /^\d{10}$/;
  
    if(loginPhoneNumber == ""){
        loginPhoneNumberError.innerHTML = "Please enter phone number";
        loginPasswordError.innerHTML = "";
        return false;
    }
  
    if(loginPassword == ""){
        loginPhoneNumberError.innerHTML = "";
        loginPasswordError.innerHTML = "Please enter password";
        return false;
    }

    if(!phoneReg.test(loginPhoneNumber)){
        loginPhoneNumberError.innerHTML = "Please enter valid phone number";
        loginPasswordError.innerHTML = "";
        return false;
    }
  
    if(loginPhoneNumberError.innerHTML == "" || loginPasswordError.innerHTML == ""){
        $.ajax({
          url: "/userLogin",
          type: "POST",
          data: {
              phone: loginPhoneNumber,
              password: loginPassword,
          
          },
          success: function (data) {
              console.log(data);
              if (data == "User Login Successfully") {
                loginPhoneNumberError.innerHTML = "";
                loginPasswordError.innerHTML = "";
                alert("User Login Successfully");
                window.location.href = "/";
                return false;
              }
  
              if(data == "Invalid login details"){
                loginPhoneNumberError.innerHTML = "Invalid login details";
                loginPasswordError.innerHTML = "";
                return false;
              }
              if(data == "Password is not match"){
                loginPhoneNumberError.innerHTML = "";
                loginPasswordError.innerHTML = "Password not match";
                return false;
              }
              if(data =="success"){
                console.log("success");
                loginPhoneNumberError.innerHTML = "";
                loginPasswordError.innerHTML = "";
                $("#exampleModal").modal("hide");
                location.reload();
         
                return false;
              }
          },
          });
    
          return false;
    }
}


</script>


<!-- close smle modal and open login modal-->

<script>

function openLoginCloseSmile(){
  $("#exampleModal3").modal("hide");
  $("#exampleModal").modal("show");
}


</script>


<script>

// $('#submit').click(function(e){

// //call ajax

// e.preventDefault();
// })
</script>