<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rigalma</title>
  <meta charset="utf-8" />

  <title>
    <%=data?.metaTitle%>
  </title>
  <meta name="description" content="<%=data?.metaDescription%>" />
  <meta name="keyword" content="<%=data?.metaKeyword%>" />
  <link rel="canonical" href="<%=data?.canonical%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/css/style.css" rel="stylesheet" />
  <link href="/public/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <%- include('../partials/navbar')%>

    <p hidden id="courseSection">
      <%=courseSection%>
    </p>
    <p hidden id="courseSlag">
      <%=data?.slag%>
    </p>

    <div class="bannerSecBg" style="background-color: #8abcc5;">
      <div class="bannerOverlay">
        <div class="container">
          <div class="bannerDetailTitle">
            <h3>
              <%=data?.name%>
            </h3>
            <h4 class="m-0">Chennai, Tamil Nadu AICTE Approved</h4>
            <div class="d-flex align-items-center pt-3">
              <div class="d-flex align-items-center">
                <span class="starCount">10</span>
                <div class="reviewsCo">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p>4 User reviews</p>
                </div>
              </div>
              <a href="#!" class="consultationBtn">Get Contact Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="college_detail_page">
      <div class="container">
        <ul class="collegeInfo">
          <a href="/courseDetail/<%=data?.slag%>/section">
            <li class="collegeInfoTab">Section</li>
          </a>
          <a href="/courseDetail/<%=data?.slag%>/syllabus">
            <li class="collegeInfoTab">Syllabus</li>
          </a>
          <a href="/courseDetail/<%=data?.slag%>/sallary">
            <li class="collegeInfoTab">Salary</li>
          </a>
        </ul>
        <div class="row">
          <div class="col-md-9">
            <!-- <form class="searchState w-75">
                        <i class="fa-regular fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search for states" style="box-shadow: 0px 10px 25px #0000000f;">
                        <a href="" class="submitBtn">Search</a>
                    </form>
                    <div class="filterCollege">
                        <h4>Filter By:</h4>
                        <ul class="collegeDetailFilter">
                            <li class="collegeDetailFilterTab">Info</li>
                            <li class="collegeDetailFilterTab active">Courses & Fees</li>
                            <li class="collegeDetailFilterTab">Reviews</li>
                            <li class="collegeDetailFilterTab">Placement</li>
                            <li class="collegeDetailFilterTab">Scholarship</li>
                            <li class="collegeDetailFilterTab">Q&A</li>
                        </ul>
                        <div class="border-top d-flex pt-2">
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    B.Sc
                                </label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Certificate
                                </label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Diploma
                                </label>
                            </div>
                        </div>
                    </div> -->

            <div class="overall-1">
              <% sectionData?.forEach(function(sectionData){ %>
                <div class="collegeDetailFilter2">
                  <h4>
                    <%=sectionData?.heading%>
                  </h4>
                  <div class="border-top collegefilter2 pt-2 row align-items-center">
                    <div class="">
                      <h5><%-sectionData?.description%></h5>
                    </div>
                  </div>
                </div>

                <% }) %>
            </div>
          </div>
          <div class="col-md-3 pt-3">
            <!-- <a href="#!" class="applyBtn mt-5">Apply Now</a> -->
            <!-- <a href="#!" class="quesBtn my-3">Download Brochure</a> -->
            <!-- <div class="parantCollegeGroup mb-3">
              <h4>Parent College In This Group</h4>
              <div class="border-top">
                <div class="d-flex pt-2">
                  <div class="groupColl">
                    <img src="/public/images/logo.png" />
                  </div>
                  <p>
                    IIT Madras - Indian Institute of Technology - [IITM]
                    Chennai, Tami
                  </p>
                </div>
              </div>
            </div> -->
            <div class="parantCollegeGroup">
              <h4>Top Courses</h4>
              <%topCourse?.forEach(function(topCourse){ %>
                <a href="/courseDetail/<%=topCourse?.slag%>/section">
                  <div class="border-top topCou pt-2 d-flex">
                    <div class="w-75">
                      <h5>
                        <%=topCourse?.name%>
                      </h5>
                      <p>FEE - <%=topCourse?.fees%>
                      </p>
                    </div>
                    <div class="w-25">
                      <p>
                        <%=topCourse?.averageDuration%> Month
                      </p>
                    </div>
                  </div>
                  <% }) %>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="subscribeSec">
      <div class="container">
        <div class="collegeDetail">
          <form class="form-card">
            <h3 class="mb-4">Comment</h3>
            <!-- <label for="exampleFormControlTextarea1" class="form-label mt-3">Example textarea</label> -->
            <textarea class="form-control" placeholder="Enter text here" rows="5"></textarea>
            <div class="text-center mx-2 mt-3">
              <a href="#!" type="submit" class="submitBtn">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('../partials/footer')%>

      <script type="text/javascript" src="/public/js/jquery.min.js"></script>
      <script type="text/javascript" src="/public/js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
</body>

<script>
  // active class//

  $(document).ready(function () {
    var courseSection = document.getElementById("courseSection").innerHTML;
    var courseSlag = document.getElementById("courseSlag").innerHTML;

    console.log(courseSection);

    console.log(courseSlag);

    $(".collegeInfo a").each(function () {
      // console.log('/exam-detauuil/'+examSlag+'/'+examSection);

      if (
        $(this).attr("href") ==
        "/courseDetail/" + courseSlag + "/" + courseSection
      ) {
        // add active class on his li child//
        console.log($(this).attr("href"));

        $(this).children("li").addClass("optionactive");
      }
    });
  });
</script>

</html>