<!DOCTYPE html>
<html lang="en">

<head>
  <title>Preparation Host || Wishlist</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/css/style.css" rel="stylesheet" />
  <link href="/public/css/responsive.css" rel="stylesheet" />
</head>

<body style="background-color: #f4f4f7">
  <%- include('../partials/navbar')%>

    <section class="p-0">
      <section class="bannerSec">
        <div class="container">
          <div class="bannerTitle">
            <!-- <img src="/public/images/banner_bg.svg"> -->
            <h3>Wishlist</h3>
          </div>
          <img src="/public/images/banner.png" class="w-100 mt-3">
        </div>
        <div class="anim-elements">
          <div class="anim-element"></div>
          <div class="anim-element"></div>
          <div class="anim-element"></div>
          <div class="anim-element"></div>
          <div class="anim-element"></div>
        </div>
      </section>
      <div class="container">
        <div class="row Wishlist-head">
          <div class="col-md-9" id="wishlistData">
            <% data?.forEach(function(data){ %>
              <% data?.collegeDetail?.forEach(function(d){ %>
                <div class="collegeCard">
                  <div class="row">
                    <div class="col-md-4">
                      <!-- <a href="/collegeDetail/<%=data?.slag%>/overView"> -->
                      <div class="collImage">
                        <!-- <i class="fa-regular fa-heart wish-list-heart" onclick="addWishlist('<%=data?._id%>')"></i> -->

                        <img src="<%=d?.image%>" alt="<%=d?.altForImage%>" />
                      </div>
                      <!-- </a> -->
                    </div>
                    <div class="col-md-8">
                      <div class="collDetail">
                        <div class="collTit">
                          <div class="collLogo">
                            <img src="<%=d?.icon%>" alt="<%=d?.altForIcon%>" />
                          </div>
                          <div class="mx-2">
                            <a href="/collegeDetail/<%=d?.slag%>/overView">
                              <h3>
                                <%=d.name%>
                              </h3>
                            </a>
                            <p>Approved by:<%=d?.approvedField%>
                            </p>
                          </div>
                          <div class="delete-icon" onclick="deleteWishlist('<%=data._id%>')">
                            <i class="fa-solid fa-trash-can"></i>
                          </div>
                        </div>
                        <div class="row pt-2">
                          <div class="col-md-4">
                            <div class="collFeee d-flex">
                              <p>Fees</p><span class="px-2">₹ <%=d?.feesRange%></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="collRcp d-flex align-items-center">
                              <div class="iconSe">
                                <img src="/public/images/test.png" />
                              </div>
                              <a href="/collegeDetail/<%=d?.slag%>/courses">
                                <p>Course & Fees</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="collRcp d-flex align-items-center">
                              <div class="iconSe">
                                <img src="/public/images/test.png" />
                              </div>
                              <a href="/collegeDetail/<%=d?.slag%>/placement">
                                <p>Placement</p>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="collRcp d-flex align-items-center">
                              <div class="iconSe">
                                <img src="/public/images/test.png" />
                              </div>
                              <a href="/collegeDetail/<%=d?.slag%>/reviews">
                                <p>Reviews</p>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row pt-2">
                        <div class="col-md-12">
                          <div class="d-flex">
                            <a href="/collegeDetail/<%=d?.slag%>/overView" class="applyBtn">Get More Info</a>
                            <a href="#" class="quesBtn mx-2">Ask a Question</a>
                            <a href="#!" class="sampleBtn">Sample Papers</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% }) %>
                  <% }) %>
          </div>

          <div class="col-md-3">
            <img src="/public/images/wishlist-slide.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="subscribeSec">
      <div class="container">
        <div class="subscribe">
          <h3>Subscribe To Our News Letter</h3>
          <p class="pt-3">
            Get College Notifications, Exam Notifications and News Updates
          </p>
          <form class="form-card">
            <div class="d-flex">
              <input type="text" id="fname" name="fname" placeholder="Email address" />
              <input type="text" id="mobile" name="mobile" placeholder="Mobile no" />
              <select class="form-select" aria-label="Choose your course">
                <option selected>Choose your course</option>
                <option value="1">Teacher</option>
                <option value="2">School Admin</option>
                <option value="3">Principal</option>
                <option value="4">School Owner</option>
                <option value="5">Parent</option>
              </select>
              <div class="text-center mx-2">
                <a href="#!" type="submit" class="submitBtn">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('../partials/footer')%>

      <script type="text/javascript" src="/public/js/jquery.min.js"></script>
      <script type="text/javascript" src="/public/js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

      <script>
        // onclick delete the wishlist with ajax and get the updated wishlist form  databse

        function deleteWishlist(id) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              // document.getElementById("demo").innerHTML =
              // this.responseText;
              console.log(this.responseText);
              var data = JSON.parse(this.responseText);

              console.log(data.length);





              // paste data.collegeDetail.name in the html

              document.getElementById("wishlistData").innerHTML = data.map((data) => {

                return data.collegeDetail.map((d) => {

                  return `
        <div class="collegeCard">
              <div class="row">
                <div class="col-md-4">
          
                  <div class="collImage">
                  

                    <img src="${d?.image}" alt="${d?.altForImage}" />
                  </div>
                
                </div>
                <div class="col-md-8">
                  <div class="collDetail">
                    <div class="collTit">
                      <div class="collLogo">
                        <img src="${d?.icon}" alt="${d?.altForIcon}" />
                      </div>
                      <div class="mx-2">
                        <a href="/collegeDetail/${d?.slag}/overView">
                          <h3>${d?.name}</h3>
                        </a>
                        <p>Approved by:${d?.approvedField}</p>
                      </div>
                      <div
                        class="delete-icon"
                        onclick="deleteWishlist('${data?._id}')"
                      >
                        <i class="fa-solid fa-trash-can"></i>
                      </div>
                    </div>
                    <div class="row pt-2">
                      <div class="col-md-4">
                        <div class="collFeee">
                          <span>₹ ${d?.feesRange}</span>
                          <p>Fees</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="collRcp d-flex align-items-center">
                          <div class="iconSe">
                            <img src="/public/images/test.png" />
                          </div>
                          <a href="/collegeDetail/${d?.slag}/courses">
                            <p>Course & Fees</p>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="collRcp d-flex align-items-center">
                          <div class="iconSe">
                            <img src="/public/images/test.png" />
                          </div>
                          <a href="/collegeDetail/${d?.slag}/placement">
                            <p>Placement</p>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="collRcp d-flex align-items-center">
                          <div class="iconSe">
                            <img src="/public/images/test.png" />
                          </div>
                          <a href="/collegeDetail/${d?.slag}/reviews">
                            <p>Reviews</p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <div class="col-md-12">
                      <div class="d-flex">
                        <a
                          href="/collegeDetail/${d?.slag}/overView"
                          class="applyBtn"
                          >Get More Info</a
                        >
                        <a href="#" class="quesBtn mx-2">Ask a Question</a>
                        <a href="#!" class="sampleBtn">Sample Papers</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        `
                })
              })

            }
          };








          xhttp.open("GET", "/deleteWishlistById/" + id, true);
          xhttp.send();
        }
      </script>
</body>

</html>